* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}

body {
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  -o-object-fit: cover;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
}

.container-geral {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}