footer > p {
  background-color: #f1f3f7;
  padding: 20px 0;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

footer > p > a {
  text-transform: none;
  color: #2f86d6;
}

.footer {
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-contato {
  margin-top: 60px;
}

.footer-contato p {
  text-align: center;
  font-size: 16px;
  line-height: 2.5;
  font-weight: bold;
}