header {
  background: #fff;
}

.topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo img {
  width: 60px;
  margin-right: 12px;
}
.logo h1 {
  font-size: 32px;
  color: #000;
  line-height: 1;
  margin-bottom: 8px;
}
.logo p {
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  color: #2f86d6;
}

.nav-menu ul {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-menu ul li a {
  padding: 4px;
  font-size: 18px;
  color: #233032;
  font-weight: bold;
}
