header {
  background: #fff;
}

.topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo img {
  width: 60px;
  margin-right: 12px;
}

.logo h1 {
  font-size: 32px;
  color: #000;
  line-height: 1;
  margin-bottom: 8px;
}

.logo p {
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  color: #2f86d6;
}

.nav-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.nav-menu ul li a {
  padding: 10px;
  font-size: 18px;
  color: #233032;
  font-weight: bold;
}

@media (max-width: 800px) {
  .topo {
    flex-direction: column;
    gap: 40px;
  }
  .nav-menu ul {
    gap: 8px;
  }
  .nav-menu ul li {
    flex: 1;
  }
  .nav-menu ul li a {
    border: 1px solid;
    border-radius: 4px;
    width: 100%;
    text-align: center;
  }
}